<nav class="px-2 px-md-4 py-3 border-bottom border-dark w-100">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <button pButton pRipple type="button" icon="fas fa-bars"
        class="p-button-rounded p-button-sm p-button-text btn-gray-600 me-2" (click)="expand()"></button>
      <h4 class="m-0 fw-bold">{{_h.title}}</h4>
    </div>
    <div class="d-flex align-items-center">
      <button pButton pRipple type="button" icon="fas fa-bell"
        class="p-button-rounded p-button-sm p-button-text btn-gray-600 ms-2"></button>
      <button pButton pRipple type="button" icon="fas fa-at"
        class="p-button-rounded p-button-sm p-button-text btn-gray-600 ms-2" (click)="this.toMail()"></button>
      <button pButton pRipple type="button" icon="fas fa-globe"
        class="p-button-rounded p-button-sm p-button-text btn-gray-600 ms-2" (click)="this.toShop()"></button>
    </div>
  </div>
</nav>