<div class="bg-gray-200 min-vh-100 d-flex align-items-center justify-content-center py-4">
  <div class="login-box mb-2">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body p-4">

        <div class="row">
          <div class="col-12 pb-1">
            <div class="d-flex justify-content-center">
              <a routerLink="/">
                <svg-icon name="logo" [svgStyle]="{ 'height': '4rem', fill: '#000' }"></svg-icon>
              </a>
            </div>
          </div>
        </div>

        <form [formGroup]="form" class="d-grid gap-3">

          <!-- <div class="d-grid gap-2">
            <div>
              <button class="p-button w-100 bg-facebook hover">
                <div class="mx-auto d-flex justify-content-center align-items-center">
                  <i class="fab fa-facebook"></i>
                  <p class="m-0 ms-2">
                    Continuar con Facebook
                  </p>
                </div>
              </button>
            </div>

            <div>
              <button class="p-button w-100 bg-google hover">
                <div class="mx-auto d-flex justify-content-center align-items-center">
                  <i class="fab fa-google"></i>
                  <p class="m-0 ms-2">
                    Continuar con Google
                  </p>
                </div>
              </button>
            </div>
          </div>

          <div>
            <div class="social-auth-links"> </div>
          </div> -->

          <div class="d-grid gap-3">
            <div>
              <label class="form-label fw-bolder">Correo Electrónico</label>
              <input pInputText class="w-100 p-inputtext-sm shadow-none" type="email" formControlName="email">
            </div>

            <div>
              <label class="form-label fw-bolder">Contraseña</label>
              <div class="position-relative">
                <input type="text" pInputText class="w-100 p-inputtext-sm shadow-none"
                  style="padding-right: 2.2rem !important;" [type]="show ? 'text' : 'password' "
                  formControlName="password">
                <div class="position-absolute end-0 top-0 d-flex align-items-center px-2 h-100">
                  <i (click)="show = !show" class="pointer {{show ? 'fas fa-eye-slash' : 'fas fa-eye'}}"></i>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                    formControlName="remember">
                  <label class="form-check-label" for="flexCheckDefault">
                    Recuérdame
                  </label>
                </div>
              </div>
              <!-- <div class="col-6">
                <p class="text-end m-0 pointer underline" routerLink="/auth/forgot-password">
                  ¿Olvidaste tu contraseña?
                </p>
              </div> -->
            </div>
            <div>
              <button class="p-button w-100 bg-gray-700 hover shadow-none" (click)="onSubmit()"
                [disabled]="this.form.invalid">
                <div class="mx-auto d-flex justify-content-center align-items-center ">
                  <p class="m-0 ms-2">
                    Iniciar Sesión
                  </p>
                </div>
              </button>
            </div>
          </div>

          <!-- <div class="p-2">
            <p class="text-center m-0 pointer underline" routerLink="/auth/register">
              Crear una cuenta
            </p>
          </div> -->

          <!-- <div class="p-4">
            <p class="fw-bolder text-uppercase text-center m-0 pointer" routerLink="/">
              Volver a la tienda
            </p>
          </div> -->

        </form>

      </div>

    </div>
  </div>
</div>