<div class="container-fluid py-2 py-md-2">

  <div class="row">
    <div class="col-12 my-2">
      <div class="row">
        <div class="col-12 col-md-6">
          <p-dropdown styleClass="w-100 p-inputtext-sm" [options]="this.listConfig" [(ngModel)]="this.selected"
            optionLabel="label" optionValue="key" placeholder="Seleccionar..." appendTo="body"
            (onChange)="onChange($event.value)">
          </p-dropdown>
        </div>

      </div>
    </div>
    <div class="col-12 my-2">

      <div id="summernote"></div>

    </div>
    <div class="col-12 my-2">
      <div class="d-flex justify-content-center">
        <button pButton class="p-button-sm btn-gray-700 mx-2 px-4" (click)="save()" label="Guardar Cambios"></button>
      </div>
    </div>
  </div>


</div>