<div class="drume-container min-vh-100 d-flex align-items-center justify-content-center py-4">
  <div class="login-box mb-2">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body p-4">

        <div class="d-grid gap-3">
          <div>
            <h5 class="fw-bolder">¿Olvidaste tu contraseña?</h5>
          </div>

          <form [formGroup]="form" class="d-grid gap-3">

            <div>
              <p class="m-0 text-center">No hay problema. Simplemente háganos saber su correo electrónico y le
                enviaremos un enlace de restablecimiento de contraseña que le permitirá elegir una nueva.</p>
            </div>

            <div class="d-grid gap-3 my-2">
              <div>
                <label class="form-label fw-bolder">Correo Electrónico</label>
                <input pInputText class="w-100 p-inputtext-sm shadow-none" type="email" formControlName="email">
              </div>


              <div>
                <button class="p-button w-100 bg-gray-700 hover shadow-none">
                  <div class="mx-auto d-flex justify-content-center align-items-center ">
                    <p class="m-0 ms-2">
                      Enviar Enlace de restablecimiento de Contraseña
                    </p>
                  </div>
                </button>
              </div>
            </div>

            <div class="p-2">
              <p class="text-center m-0 pointer underline" routerLink="/auth/login">
                Regresar al login
              </p>
            </div>

            <!-- <div class="p-4">
              <p class="fw-bolder text-uppercase text-center m-0 pointer" routerLink="/">
                Volver a la tienda
              </p>
            </div> -->

          </form>
        </div>

      </div>

    </div>
  </div>
</div>