<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mb-3">
      <label class="fw-bolder mb-2">Nombre del producto</label>
      <input pInputText type="text" class="p-inputtext-sm w-100 {{ submited && !data.name ? 'ng-invalid ng-dirty': ''}}"
        [(ngModel)]="data.name" />
      <small *ngIf="submited && !data.name" class="p-error block">Ingrese un nombre.</small>
    </div>
    <div class="col-md-4 mb-3">
      <label class="fw-bolder mb-2">Color</label>
      <p-dropdown styleClass="w-100 p-inputtext-sm" [options]="listColors" [(ngModel)]="color" optionLabel="name"
        placeholder="Seleccionar color" appendTo="body" [required]="submited && !data.colorId"
        (onChange)="changeColor($event)" [disabled]="this.data.id">
        <ng-template pTemplate="selectedItem">
          <div class="d-flex align-items-center" *ngIf="color">
            <div class="drop-item-color me-2" [style]="'background:' + color.code"> </div>
            <div class="text-uppercase">{{color.name}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="d-flex align-items-center">
            <div class="drop-item-color me-2" [style]="'background:' + item.code"> </div>
            <div class="text-uppercase">{{item.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small *ngIf="submited && !data.colorId" class="p-error block">Se requiere un color.</small>
    </div>
    <div class="col-md-6 mb-3">
      <label class="fw-bolder mb-2">Categoría</label>
      <p-dropdown styleClass="w-100 p-inputtext-sm text-capitalize" panelStyleClass="text-capitalize"
        [options]="listCategories" [(ngModel)]="category" optionLabel="name" optionValue="id"
        placeholder="Seleccionar categoría" appendTo="body" (onChange)="changeCategory($event.value)"
        [required]="submited && !data.collectionId" [disabled]="this.data.id">
      </p-dropdown>
      <small *ngIf="submited && !data.collectionId" class="p-error block">Seleccione una categoría.</small>
    </div>
    <div class="col-md-6 mb-3">
      <label class="fw-bolder mb-2">Colección</label>
      <p-dropdown styleClass="w-100 p-inputtext-sm text-capitalize" panelStyleClass="text-capitalize"
        [options]="listCollections" [(ngModel)]="data.collectionId" optionLabel="name" optionValue="id"
        placeholder="Seleccionar colección" appendTo="body" [required]="submited && !data.collectionId"
        [disabled]="this.data.id">
      </p-dropdown>
      <small *ngIf="submited && !data.collectionId" class="p-error block">Seleccione una colección.</small>
    </div>
    <div class="col-md-4 mb-3">
      <label class="fw-bolder mb-2">Foto principal <i><small>(1MB como máximo)</small></i></label>
      <input #fileImage type="file" class="d-none" (change)="captureImage($event)">
      <button pButton class="p-button-sm btn-sky-700 w-100" icon="fas fa-camera" (click)="fileImage.click()"></button>
      <div class="w-100 d-flex justify-content-center {{submited && !this.preview ? 'border border-danger' : ''}}"
        style="height: 18rem;">
        <img loading="lazy" *ngIf="this.preview" class="border" style="height: 100%;" [src]="this.preview" alt=""
          srcset="">
      </div>
      <small *ngIf="submited && !this.preview" class="p-error block">Cargue una imagen.</small>
    </div>
    <div class="col-md-8 mb-3">
      <label class="fw-bolder mb-2">Descripción del producto</label>
      <ckeditor style="height: 20rem;" [editor]="editor" [(ngModel)]="this.data.description" [config]="configEditor">
      </ckeditor>
    </div>

    <div class="col-md-4 mb-3">
      <label class="fw-bolder mb-2">Tallas</label>
      <p-multiSelect styleClass="w-100 p-inputtext-sm"
        class="{{ submited && this.sizes.length == 0 ? 'ng-invalid ng-dirty': ''}}" [options]="listSizes"
        [(ngModel)]="this.sizes" optionLabel="name" optionValue="id" placeholder="Seleccionar tallas" appendTo="body"
        display="chip" [required]="submited && this.sizes.length == 0" [disabled]="this.data.id" [filter]="false">
      </p-multiSelect>
      <small *ngIf="submited && this.sizes.length == 0" class="p-error block">Seleccione una o más tallas.</small>
    </div>

    <div class="col-md-4 mb-3">
      <label class="fw-bolder mb-2">Price</label>
      <input pInputText type="number"
        class="p-inputtext-sm w-100 {{ submited && !data.price ? 'border border-danger': ''}}"
        [(ngModel)]="data.price" />
      <small *ngIf="submited && !data.price" class="p-error block">Ingrese el precio.</small>
    </div>

    <div class="col-md-4 mb-3">
      <label class="fw-bolder mb-2">Galería <i><small>(1MB como máximo)</small></i></label>
      <input #fileGallery type="file" class="d-none" (change)="captureGallery($event)">
      <button class="p-button p-button-sm btn-sky-700 w-100" (click)="fileGallery.click()">
        <div class="mx-auto d-flex justify-content-center align-items-center">
          <i class="fas fa-images"></i>
          <p class="m-0 ms-2">
            Subir imagenes
          </p>
        </div>
      </button>
    </div>

    <div class="col-12 mb-3" *ngIf="previewList.length != 0">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-2" style="height: 18rem;"
          *ngFor="let item of previewList; let i=index">
          <div class="d-flex justify-content-center w-100 overflow-hidden rounded-3 position-relative"
            style="height: 18rem;">
            <img loading="lazy" class=" border" style="height: 100%;" [src]="item">
            <button pButton pRipple icon="pi pi-times"
              class="btn btn-circle-xs p-button-danger position-absolute bottom-0 end-0"
              (click)="removeImg(i)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button pButton class="p-button-sm p-button-danger mx-2 px-4" (click)="cancel()" label="Cancelar"></button>
    <button pButton class="p-button-sm btn-gray-700 mx-2 px-4" (click)="save()"
      [label]="this.data.id ? 'Actualizar' : 'Guardar'" [disabled]="this.invalid"></button>
  </div>

</div>